[submodule "includes/boz-mw"]
	path = includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2018-06-wikidata-volleyball-players/includes/boz-mw"]
	path = 2018-06-wikidata-volleyball-players/includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2018-06-wikidata-soccer-serie-a/includes/boz-mw"]
	path = 2018-06-wikidata-soccer-serie-a/includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2018-02-italian-parks/includes/boz-mw"]
	path = 2018-02-italian-parks/includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2018-07-wikipedia-citation-language-migration/includes/boz-mw"]
	path = 2018-07-wikipedia-citation-language-migration/includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2017-11-wikidata-volleyball-players/includes/boz-mw"]
	path = 2017-11-wikidata-volleyball-players/includes/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2018-08-wiki-loves-monuments-switzerland/boz-mw"]
	path = 2018-08-wiki-loves-monuments-switzerland/includes/boz-mw
	url = git@github.com:valerio-bozzolan/boz-mw.git
[submodule "2018-09-mibact-fixer/boz-mw"]
	path = 2018-09-mibact-fixer/boz-mw
	url = git@github.com:valerio-bozzolan/boz-mw.git
[submodule "2018-09-23-itwiki-gnu-fdl/boz-mw"]
	path = 2018-09-23-itwiki-gnu-fdl/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2019-05-commons-volleyball-players-upload/boz-mw"]
	path = 2019-05-commons-volleyball-players-upload/include/boz-mw
	url = https://gitpull.it/source/boz-mw.git
[submodule "2019-05-commons-volleyball-players-upload/include/boz-mw"]
	path = 2019-05-commons-volleyball-players-upload/include/boz-mw
	url = https://gitpull.it/source/boz-mw.git
