config.php

# output files
/2018-06-wikidata-volleyball-players/out.csv

# status files
/2017-11-wikidata-volleyball-players/latest.txt

# other stupid dependencies
/2020-10-04-mendrisio-sucker-iconoteca.arc.usi.ch/phpquery
/2020-10-04-mendrisio-sucker-iconoteca.arc.usi.ch/images
